<% provide(:title, "Top") %>

    <% if user_signed_in? %>
        <h3><%= link_to '掲示板を新規作成する' , topic_form_path , class:"btn btn-sm btn-primary" %></h3>

        <h3>掲示板一覧</h3>
        <%= @topics.each do |t| %>
            <ul><p><%= link_to t.title , topic_show_path(t.id) %></p>
                <li style="list-style: none"><%#= t.post.content %></li>
            </ul>
        <% end %>

    <% else %>
        <h2>Keijiban.appとは</h2>
        <p>電子掲示板である。</p>

        <div class="center">
            <%= link_to "ユーザー登録", signup_path, class:"btn btn-sm btn-primary" %>
            <%= link_to "ログイン", login_path, class:"btn btn-sm btn-primary" %>
        </div>
    <% end %>