<% provide(:title, 'コメント修正') %>
<% provide(:button_text, 'コメントを修正') %>
<% provide(:url, post_update_path) %>

<h2>コメントを修正する</h2>

<%= form_with model: @post , url: yield(:url) do |f| %>

    <%= f.label :name , '投稿者名' %>
    <%= f.text_field :name, class:'form-control' %>    
    
    <%= f.label :content , 'コメント内容' %>
    <%= f.text_field :content, class:'form-control' %>

    <%=f.submit yield(:button_text), class:"btn btn-primary" %>
<% end %>