<header class="navbar navbar-fixed-top navbar-default fixed-top">
<div class="container">
  <%= link_to "Keijiban.app",root_path, id: "logo" %>
  <nav class="navbar navbar-light " style="background-color:white">
    <ul class="navbar">
      <div class="navbar navbar-expand-lg mr-auto mt-2 mt-lg-0">
        <li><%= link_to "TOP",root_path %></li>
        <li><%= link_to "Topicを作成", '#' %></li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
            設定<b class="caret"></b>
            </a>
            <% if user_signed_in? %>
              <ul class="dropdown-menu" style="background-color:white">
                <li><%#= link_to current_user.name, scout_show_path(current_user.scout) %></li>
                <li><%= link_to "アカウント設定", edit_user_registration_path %></li>
                <li><%#= link_to "スカウト設定", scout_edit_path(current_user.scout) %></li>
                <li class="dropdown-divider"></li>
                <li><%=link_to "ログアウト", logout_path, method: :delete %></li>
              </ul>
            </li>
            <% else %>
              <ul class="dropdown-menu">
                <li><%= link_to "サインイン", signup_path %></li>
                <li><%= link_to "ログイン", login_path %></li>
              </ul>
          <% end %>
    </div>
    </ul>
  </nav>
</div>
</header>